body {
  background-color: #C5D4E3;
}

#header {
  width: 464px;
  margin: auto;
}

#sudoku-container {
  text-align: center;
  width: 464px;
  margin: auto;
}

#actions-container {
  width: 464px;
  margin: auto;
}

#speed-selector {
  width: 100%;
}

#board-selector {
  float:left;
}

#buttons-container {
  float: right;
}

.block {
  background-color: white;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-left: 1px solid black;
  border-top: 1px solid black;
  color: red;
}

.block.original {
  color: #333;
  font-weight: bold;
}

.row0 .block, .row3 .block, .row6 .block {
  border-top: 2px solid black;
}

.row8 .block {
  border-bottom: 2px solid black;
}

.col0, .col3, .col6 {
  border-left: 2px solid black;
}

.col8 {
  border-right: 2px solid black;
}
